# Prerequisites
build/
bin/
out/
cmake-build-debug/
cmake-build-release/

# IDEs and Editors
.idea/
.vscode/
.vs/
.cache/
.clangd/
.clang-format-ignore

# C++/MSVC specific
*.pdb
*.obj
*.exe
*.dll
*.lib
*.sln
*.vcxproj
*.user

# Temporary/Log files
*.log
*.tlog
*.lastbuildstate